@import "tailwindcss";

@theme {
  --color-reliable-lime: #ccff00;
  --color-reliable-dark: #0f1115;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 17, 21;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0f1115;
}
